#map,
#main,
body {
    padding: 0 !important;
    margin: 0;
}

#map,
#main,
body,
html {
    height: 100%;
}

/* #input {
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 96%;
    border: 3px solid 6#4b21ad;
    z-index: 1000;
    margin: 1%;
    padding: 1%;
    background-color: azure;
} */

#input input {
    margin-top: 2px;
    margin-bottom: 7px;
    width:153px;
}

#raceForm input {
    margin-top: 6px;
    margin-bottom: 7px;
    width:165px;
}

#raceForm select {
    padding: 3px 4px;
}

#mdist, #cpop, #mpop {
    padding: 2px 6px;
}

/* #input label {
    margin-right: 5px;
    padding-top: 0 4px;
    padding-left: 50px
}

#input input {
    width:200px;
    background-color: bisque;
    padding: 0 7px;
} */

.header {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

/* Sidebar Setup */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e3e3e3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar form {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #111;
    display: block;
    transition: 0.3s;
}

.sidebar select {
    padding: 1px 2px;
    margin-bottom: 7px;
    width:165px;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: #111;
    padding: 10px 15px;
    margin:5px;
    border: 2px 'solid' #111;
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    z-index: 999;
}

.sidebar h3 {
    margin-bottom: 2px;
    margin-top: 10px;
}
.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar form {
        font-size: 18px;
    }
}




/* Used in sidebar */
.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}


/* On load popup */

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #0f72e5;
} */

.popup {
    background-color: #ffffff;
    width: calc(80vw); 
    padding: 30px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
    z-index: 10000000;
}

.popup button {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 8px 12px;
    display: block;
    margin: 0 0 2px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1000000000;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

.popup .filler {
    visibility: hidden;
}

.popup .overlay {
    position:absolute;
    top:20px;
    left:15px;
}
/* 
.popup a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
} */

/*  Slideshow */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.slideshow-container .prev,
.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container .next {
    right: -20px;
    border-radius: 3px 0 0 3px;
    background-color: rgba(0, 0, 0, 0.8)
}

.slideshow-container .prev {
    left: -20px;
    border-radius: 3px 0 0 3px;
    background-color: rgba(0, 0, 0, 0.8)
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
    background-color: rgba(116, 116, 116, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 7%;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dotBox {
    position: absolute;
    left:0;
    right:0;
    bottom: 2%;
    width: 100px;
    margin-left:auto;
    margin-right:auto;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.splitscreen {
    width: 50%;
    float: left;
    padding: 25px;
    /* border: 2px solid red; */
}