<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planes</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div id="input">
            <h3 class="header">CITY PARAMETERS</h3>
            <form>
                <label for="mdist">MAX DISTANCE:</label>
                <input type="text" id="mdist" name="mdist"><br>
                <label for="mpop">MIN POPULATION:</label>
                <input type="text" id="mpop" name="mpop"><br>
                <label for="cpop">MIN COMBINED POPULATION:</label>
                <input type="text" id="cpop" name="cpop">
            </form>
        </div>
        <h3 class="header">RACE PARAMETERS</h3>
        <form onSubmit="return raceForm()">
            <label for="startState">START STATE:</label><br>
            <select name="startState" id="startState" value="Select"></select><br>
            <label for="startCity">START CITY:</label><br>
            <select name="startCity" id="startCity" value="Select"></select><br>
            <label for="endState">END STATE:</label><br>
            <select name="endState" id="endState" value="Select"></select><br>
            <label for="endCity">END CITY:</label><br>
            <select name="endCity" id="endCity" value="Select"></select><br>
            <input class="button-4" type="submit" value="Submit">
        </form>
    </div>
    <div id="main">

        <button id="sidebarBttn" class="openbtn" onclick="openNav()">☰ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settings</button>
        <div id="map"></div>

        <!-- <div id="input">
            <h3 class="header">QUERY PARAMETERS</h3>
            <form>
                <label for="mdist">MAX DISTANCE:</label>
                <input type="text" id="mdist" name="mdist">
                <label for="mpop">MIN POPULATION:</label>
                <input type="text" id="mpop" name="mpop">
                <label for="cpop">MIN COMBINED POPULATION:</label>
                <input type="text" id="cpop" name="cpop">
            </form>
        </div> -->
    </div>
    <script src="./static/js/sidebar.js"></script>
    <script src="./static/js/map.js"></script>
</body>

</html>