<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planes</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    
    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div id="input">
            <h3 class="header">CITY PARAMETERS</h3>
            <form>
                <label for="mdist">MAX DISTANCE:</label>
                <input type="text" id="mdist" name="mdist"><br>
                <label for="mpop">MIN POPULATION:</label>
                <input type="text" id="mpop" name="mpop"><br>
                <label for="cpop">MIN COMBINED POPULATION:</label>
                <input type="text" id="cpop" name="cpop">
            </form>
        </div>
        <div id="raceForm">
            <h3 class="header">RACE PARAMETERS</h3>
            <form onSubmit="return raceForm()">
                <label for="startState">START STATE:</label><br>
                <select name="startState" id="startState" value="Select"></select><br>
                <label for="startCity">START CITY:</label><br>
                <select name="startCity" id="startCity" value="Select"></select><br>
                <label for="endState">END STATE:</label><br>
                <select name="endState" id="endState" value="Select"></select><br>
                <label for="endCity">END CITY:</label><br>
                <select name="endCity" id="endCity" value="Select"></select><br>
                <input id="raceBttn" class="button-4" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="main">
        <button id="sidebarBttn" class="openbtn" onclick="openNav()">☰  Settings</button>
        <div class="popup">
            <button id="close">&times;</button>
            <div class="slideshow-container">
            
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <div class="overlay"> 
                        <div class="splitscreen">
                            <h1>WELCOME</h1>
                            <p>The purpose of this website is to explore the possibilities for 
                                high speed rail in the United States.  Often comparisions between the 
                                United States and other countries are made highlighting the disparity
                                between the investments and existing rail infrastructure but a well 
                                designed system in the United States may have limits.  Here are some of the features 
                                of this website:  </p>  
                                <ul style="text-align:left;">
                                    <li>Markers indicating the 800+ largest populaton centers</li>
                                    <li>A topgraphic map indicating the location of major terrain changes</li>
                                    <li>Path of existing Amtrak routes</li>
                                    <li>Query tool that shows city pairs based on defined settings</li>
                                    <li>Interactive simulation of a train and plane racing</li>
                                    <li>Race simulation produces a circular range indicating train and plane break even points</li>
                                </ul>
                        </div>
                        <div class="splitscreen">
                            <img src="./static/images/hs_train.jpg" style="width:100%">
                        </div>
                    </div>
                    <img class="filler" src="./static/images/blank.jpg" style="width:100%">
                    <!-- <div class="text">Caption Text</div> -->
                </div>
            
                <div class="mySlides fade">
                    <div class="numbertext">2 / 4</div>
                    <div class="overlay">
                        <div class="splitscreen">
                            <h1>Past High Speed Proposals</h1>
                            <p>Probably the most common high speed rail map 
                                is the map to the right.  This was a popular model around 2010
                                that creates an interconnected trans-continental system.  Some 
                                of these connections make sense but it may be questionable if 
                                anyone would really want to take a trip across the entire United 
                                States when they could fly in much less time.</p>
                            <p>When compared to Europe or Asia, the United States has fewer large 
                                population centers and these locations are often spread across 
                                large areas. Combine this issue with the challenge of creating linear 
                                paths connecting the optimum locations makes the decision process 
                                even more difficult.  
                            </p>
                        </div>
                        <div class="splitscreen">
                            <img src="./static/images/routes.png" style="width:100%">
                        </div>
                    </div>
                    <img class="filler" src="./static/images/blank.jpg" style="width:100%">
                    <!-- <div class="text">Caption Text</div>                     -->
                </div>
            
                <div class="mySlides fade">
                    <div class="numbertext">3 / 4</div>
                    <div class="overlay">
                        <div class="splitscreen">
                            <h1>City Pair Visualization</h1>
                            <p>To better understand where priority cities are located, the map has a 
                                layer called "QUERY" that can be used to show all city pairs that meet 
                                specific criteria.  The criteria can be found by clicking on the 
                                "Settings" button on the upper right corner of the webpage.  
                            </p>
                            <p>The settings that can be changed include the following:</p>
                            <ul style="text-align: left;">
                                <li>Maximum distance between city pairs</li>
                                <li>Minimum population of city</li>
                                <li>Minimum combined population of the city pair</li>
                            </ul>
                        </div>
                        <div class="splitscreen">
                            <img src="./static/images/routes.png" style="width:100%">
                        </div>
                    </div>
                    <img class="filler" src="./static/images/blank.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">4 / 4</div>
                    <div class="overlay">
                        <div class="splitscreen">
                            <h1>Train and Plane Simulation</h1>
                            <p>To illustrate the possible effect train and plane travel times have on 
                                customer behavior, the simulation was created to show when a plane will 
                                catch up to a train after waiting the traditional two hours for checkin 
                                and security.  The image to the right shows the blue circle indicating 
                                the locations from the departing airport where a train would be faster.  
                                The icons will move in relative speeds realistic to real life.  The only 
                                inputs for the simulation are the start and end locations.  Currently, 
                                this similation does not take in consideration obstacles or real paths (rail lines).  
                            </p>
                        </div>
                        <div class="splitscreen">
                            <img src="./static/images/sim.png" style="width:100%">
                        </div>
                    </div>
                    <img class="filler" src="./static/images/blank.jpg" style="width:100%">
                </div>
                
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

            </div>
            <div class='dotBox' style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>

        </div>
        <div id="map"></div>
    </div>
    
    <script type="text/javascript" src="./static/js/MovingMarker.js"></script>
    <script type="text/javascript" src="./static/js/sidebar.js"></script>
    <script type="text/javascript" src="./static/js/map.js"></script>
    <script type="text/javascript" src="./static/js/race.js"></script>
    <script type="text/javascript" src="./static/js/slideshow.js"></script>
    <script type="text/javascript" src="./static/js/popup.js"></script>
</body>

</html>